<div style="display: flex">
    <div id="compareDiagram" class="donutChart">
        <div class="progressBars">
            <span class = "label chart-span">Cash flow</span>
            <hr>
            <span class = "label chart-span" id="cash_flow_value"></span><br><br>
            <label for="progressBarIncome">Income</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     id="progressBarIncome"></div>
            </div>
            <label for="progressBarExpense">Expense</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                     id="progressBarExpense"></div>
            </div>
        </div>
    </div>
    <div class="card bg-info mt-5" style="width: 18rem;">
        <div class="card-header">
            Featutes:
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Select Date:</li>
            <li class="list-group-item">
                <input type="text" name="daterange" id="cashFlowDate">
            </li>
            <li class="list-group-item">Select Account:</li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="accSelectCashFlow">Accounts</label>
                    <select id="accSelectCashFlow" class="form-control" onchange="changeAccCashFlow(this.value);">
                        <option selected value="0">All</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
    <div class="card text-white bg-info mt-5 ml-3" style="max-width: 18rem;">
        <div class="card-header">Cash flow bars</div>
        <div class="card-body">
            <h5 class="card-title">Info:</h5>
            <p class="card-text">-What is Cash Flow
                Cash flow is the net amount of cash and cash-equivalents being transferred into and out of a business. At the most
                fundamental level, a company’s ability to create value for shareholders is determined by its ability to generate
                positive cash flows, or more specifically, maximize long-term free cash flow. .</p>

        </div>
    </div>
</div>
<script>
    $(function() {
        var arr = getCurrDate();
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            "startDate" : arr.start_date,
            "endDate" : arr.end_date
        }, function(start, end) {
            var acc_id = document.getElementById("accSelectCashFlow").value;
            if(!acc_id){
                acc_id = 0;
            }
            cashFlowBars(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'), acc_id);
        });

    })
</script>